<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>todo</td><td>Ukol1Test.testFaktorial2()[pri:0, instance:cviceni.Ukol1Test@18e8568]<br/>Ukol1Test.testFaktorial3()[pri:0, instance:cviceni.Ukol1Test@18e8568]<br/></td></tr>
</table>
