<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cd475">  <td>14/11/05 19:11:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol1Test.testFaktorial1()[pri:0, instance:cviceni.Ukol1Test@18e8568]">testFaktorial1</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7cd475">  <td>14/11/05 19:11:14</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol1Test.testFaktorial2()[pri:0, instance:cviceni.Ukol1Test@18e8568]">testFaktorial2</td> 
  <td>main@457233904</td>   <td></td> </tr>
<tr bgcolor="7cd475">  <td>14/11/05 19:11:14</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol1Test.testFaktorial3()[pri:0, instance:cviceni.Ukol1Test@18e8568]">testFaktorial3</td> 
  <td>main@457233904</td>   <td></td> </tr>
</table>
