<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DefaultSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79c6c6">  <td>14/11/12 16:47:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol1Test.testFaktorial1()[pri:0, instance:cviceni.Ukol1Test@7a92922]">testFaktorial1</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="79c6c6">  <td>14/11/12 16:47:39</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol1Test.testFaktorial2()[pri:0, instance:cviceni.Ukol1Test@7a92922]">testFaktorial2</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="79c6c6">  <td>14/11/12 16:47:39</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol1Test.testFaktorial3()[pri:0, instance:cviceni.Ukol1Test@7a92922]">testFaktorial3</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="e1629e">  <td>14/11/12 16:47:39</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol2Test.testKrat(int, int, int)[pri:0, instance:cviceni.Ukol2Test@71f2a7d5]">testKrat</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="efaeb9">  <td>14/11/12 16:47:39</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Ukol3Test.init()[pri:0, instance:cviceni.Ukol3Test@2ac1fdc4]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="efaeb9">  <td>14/11/12 16:47:39</td>   <td>97</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol3Test.testStringBuffer()[pri:0, instance:cviceni.Ukol3Test@2ac1fdc4]">testStringBuffer</td> 
  <td>main@796684896</td>   <td></td> </tr>
<tr bgcolor="efaeb9">  <td>14/11/12 16:47:39</td>   <td>132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ukol3Test.testStringBuilder()[pri:0, instance:cviceni.Ukol3Test@2ac1fdc4]">testStringBuilder</td> 
  <td>main@796684896</td>   <td></td> </tr>
</table>
